@use '../style/shared' as *;

.page {
  display: flex;
  min-height: 100vh;
}

.contentArea {
  @extend .pageContent;
}

.card {
  @extend .cardMedium;
}

.faqCard {
  @extend .cardSection;
}

.question {
  @extend .textQuestion;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggleIcon {
  @extend .iconToggle;
}

.answer {
  @extend .textAnswer;
  margin-top: 8px;
}
