.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid #E7E7E7;
  height: 48px;
  background: #fff;
}

.modalName {
  font-family: 'Outfit', serif;
  font-size: 14px;
  font-weight: 500;
  color: #5C5C5C;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

.content {
  //padding: 16px;
  //background: #fff;
  //height: 693px;
  //overflow-y: auto;
}
