@use '../../../../style/shared' as *;

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* MODAL WINDOW */
.modal {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 16px;
  width: 1200px;
  //max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #e7e7e7;
}

.title {
  flex-grow: 1;
  font-family: 'Outfit';
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
}
.body {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-grow: 1;
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  color: #171717;
}

/* LEFT SIDEBAR NAVIGATION */
.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 4px;
  width: 237px;
  height: 752px;
  border-right: 1px solid #e7e7e7;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* TAB BUTTONS */
.tab {
  @extend .buttonTabBase;
  flex-direction: row;
  width: 205px;
  font-family: 'Outfit';
  font-size: 18px;
  line-height: 100%;
  color: #5c5c5c;
  border: none;
  background: transparent;
  gap: 4px;
}

.tabIcon {
  @extend .svgIcon;
}

.activeIcon {
  @extend .activeIcon;
}

.tabText {
  padding: 0 4px;
  gap: 10px;
  display: flex;
  align-items: center;
  height: 18px;
  font-weight: 400;
}

.tab.active {
  background: #f5f5f5;
}

.tab.active .tabText {
  color: #171717;
}

/* MAIN CONTENT */
.content {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}
