@use '../../style/shared' as *;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 253px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid #E7E7E7;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  color: #171717;
  width: 60px;
  height: 16px;
  margin-left: 3px;
}

.subtitle {
  font-size: 12px;
  line-height: 12px;
  color: #999;
  padding-left: 5px;
}

.toggleButton {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32px;
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E7E7E7;
  margin: 8px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.menuItem {
  @extend .buttonTabBase;
  gap: 8px;
  color: #333;
  text-decoration: none;

  /* Скидаємо дефолт кнопки */
  background: transparent;
  border: none;
  appearance: none;
  cursor: pointer;

  /* Тепер hover і active працюють на єдиному фоні */
  &:hover {
    background-color: #F5F5F5;
  }
}

.active {
  background-color: #F5FCF8;
  border: 1px solid #B3E4C7;
  color: #2F855A;
}
.icon {
  @extend .svgIcon;
  font-size: 18px;
}



.activeIcon {
  @extend .activeIcon;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 15px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  display: flex;
  flex-direction: column;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #E7E7E7;
  margin-top: auto;
}

.profileLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.role {
  font-size: 12px;
  line-height: 14px;
  color: #999;
  margin-top: 2px;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.subIcon {
  width: 24px;
  height: 24px;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown */
.dropdown {
  position: absolute;
  bottom: 35px;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 0px 24px rgba(23, 23, 23, 0.08);
  border-radius: 8px;
  padding: 5px;
  width: 160px;
  z-index: 200;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 8px;
  width: 100%;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownItem:hover {
  background-color: #F5F5F5;
}

.dropdownItemIcon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.dropdownItemLabel {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #171717;
}

.dropdownItem.logout .dropdownItemLabel {
  color: #E82C49;
}

/* Dropdown List Items */
.dropdownList {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  position: absolute;
  width: 160px;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 0px 24px rgba(23, 23, 23, 0.08);
  border-radius: 8px;
  z-index: 200;
}

.dropdownListWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  width: 152px;
}

.dropdownListItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px;
  width: 152px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdownListItem:hover {
  background-color: #F5F5F5;
}

.dropdownListItemLayout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 4px;
  width: 144px;
  flex-grow: 1;
}

.dropdownListItemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.dropdownListItemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 4px;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #171717;
  flex-grow: 1;
}

.dropdownListItemText.logout {
  color: #E82C49;
}
